<h1><%= "#{@user.name}'s Party" %></h1><br>
<%= link_to "#{@user.name}'s Dashboard", user_path(@user), class: 'btn btn-primary' %><br><br>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <p>Movie: <%= @movie.title %></p>
    </div>
    <div class="col">
      <p>Start Time: <%= @viewing_party.start_time %></p>
    </div>
    <div class="col">
      <p>Date: <%= @viewing_party.date %></p>
    </div>
  </div>
  <br>
  <h3>Rent</h3>
  <div class="row rent-providers">
    <% WatchProvider.rent_providers(@watch_providers).each do |provider| %>
      <div class="col"><%= image_tag(TMDB_IMAGE_URL + provider.logo_path, class: "img-fluid") %></div>
    <% end %>
  </div>
  <br><br>
  <h3>Buy</h3>
  <div class="row buy-providers">
    <% WatchProvider.buy_providers(@watch_providers).each do |provider| %>
      <div class="col"><%= image_tag(TMDB_IMAGE_URL + provider.logo_path, class: "img-fluid") %></div>
    <% end %>
  </div>
</div>
<br>
<footer>Buy/Rent data provided by JustWatch</footer>