<div class="container my-5">
  <h4 class="text-center my-4"><%= @movie.title %></h4>
  <div class="row text-center justify-content-center mb-4">
    <div class="col-lg-4 mb-3">
      <%= link_to 'Discover Movies', discover_user_path(@user), class: 'btn btn-secondary w-100' %>
    </div>
    <div class="col-lg-4 mb-3">
      <%= link_to "Create Viewing Party", new_user_movie_viewing_party_path(@user, @movie.id), class: 'btn btn-primary w-100' %>
    </div>
    <div class="col-lg-4 mb-3">
      <%= link_to 'Similar Movies', similar_user_movie_path(@user, @movie.id), class: 'btn btn-outline-secondary w-100' %>
    </div>
  </div>

  <div class="row text-center border-bottom pb-3 mb-4 border-3 border-secondary">
    <div class="col-md-4">
      <p><strong>Vote:</strong> <%= @movie.vote_average %></p>
    </div>
    <div class="col-md-4">
      <p><strong>Runtime:</strong> <%= format_minutes(@movie.runtime) %></p>
    </div>
    <div class="col-md-4">
      <p><strong>Genre:</strong> <%= @movie.genres.join(', ') %></p>
    </div>
  </div>
  
  <div class="row mb-4">
    <div class="col">
      <h5 class="border-bottom pb-2">Summary</h5>
      <p><%= @movie.overview %></p>
    </div>
  </div>
  
  <div class="row mb-4">
    <div class="col">
      <h5 class="border-bottom pb-2">Cast</h5>
      <ul class="list-unstyled">
        <% @movie.cast.each do |cast_member| %>
          <li><%= cast_member.name %> as <em><%= cast_member.character %></em></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5 class="border-bottom pb-2"><%= @movie.reviews.count %> Reviews</h5>
      <ul class="list-unstyled">
        <% @movie.reviews.each do |review| %>
          <li class="mb-3">
            <strong><%= review.author %>:</strong> <%= review.content %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>