<div class="container">
  <div class="border-bottom">
    <h4 class="text-center my-4">Similar Movies</h4>
    <div class="text-center">
      <%= link_to 'Discover Movies', discover_user_path(@user), class: 'btn btn-secondary' %><br><br>
    </div>
  </div>

    <% @movies.each do |movie| %>
        <div class="row text-center align-items-center my-4 border-bottom">
          <div class="col-lg-3">
            <% if movie.poster_path.present? %>            
              <p><%= image_tag(TMDB_IMAGE_URL + movie.poster_path, class: 'img-fluid rounded shadow-sm', style: "max-width: 200px; height: auto;") %></p>
            <% end %>            
          </div>
          <div class="col-lg-4">
            <p><%= link_to(movie.title, user_movie_path(@user, movie.id)) %></p>
            <p>Release Date: <%= movie.release_date %></p>
            <p>Vote Average: <%= movie.vote_average %></p>
          </div>
          <div class="col-lg-4">
            <p><%= movie.overview %></p>
          </div>
        </div>
    <% end %>
</div>
